*.~*
.#*
#*
*.dat
*.exe
*.map
*.mod
*.o
*.m
kpp
*_Function*
*_Global*
*_Hessian*
*_HessianSP*
*_Initialize*
*_Integrator*
*_Jacobian*
*_JacobianSP*
*_LinearAlgebra*
*_Main*
*_mex_Fun*
*_mex_Hessian*
*_mex_Jac_SP*
*_Model*
*_Monitor*
*_Parameters*
*_Precision*
*_Rates*
*_Stoichiom*
*_StoichiomSP*
*_Util*
Makefile_*